<% for_any_role do %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>        
  </li>
<% end %>
<% for_guest do %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

